body {
    background: #c0ffee;
    margin: 0;
    padding: 0;
}


#top,#bottom {
    border: 2px solid black;
    margin: 1em auto;
    width: 80%;
    background-color: #eee;
    clear: both;
    position: relative;
/*
    max-width: 80em;
 *    */
}
#codeArea {
    clear: both;
    background: #fff;
}
.buttons {
    /*
    display: inline;
    margin-left: 3em;
    */
}
.right {
    float: right;
}
.left {
}
.filename {
    background: #fff;
    vertical-align: bottom;
    display: block;
    width: 10em;
}
