[submodule "lib/libgit2"]
	path = lib/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "lib/libssh2"]
	path = lib/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "lib/llvm-project"]
	path = lib/llvm-project
	url = https://github.com/llvm/llvm-project.git
