@import '../../Layout';
.tabPanel{
    display:block;
    margin-top:0;
}
.questionTabList>div[role="tablist"]{
    padding:0 1em;
}
.questionTabList>div[role="tablist"]>div{
    padding:0.5em 1em;
    margin-right:0;
}
.fullWidth{
    width:100%;
}
.actionbar{
    display:flex;
    background:#FAFAFA;
    border-top:1px solid #EEE !important;
    border-bottom:1px solid #EEE !important;
    flex-wrap: wrap;
    border-style:none;
    box-shadow:none !important;
    padding:0.4em 0.7em;
    justify-content: space-between;
    height:auto;
}
.actionbar>div button{
    margin:0 0.2em;
}
.actionbar>div{
    height:auto;
}
.editorContainer{
    display:flex;
}
.editorContainer>div{
    overflow:hidden;
    flex:1;
}
.questionName{
    margin-bottom:0.75em;
}
.loading{
    width:100%;
}
.loading>div{
    width:auto;
    border-radius:0;
}
.loading>div>div{
    border-radius:0 !important;
}
.tree{
    min-width:200px;
}
.openFiles{
    display:inline-block;
}
.openFilesTab{
    float:left;
    margin:0px 0em -2px 0.45em !important;
    border-bottom:2px solid transparent;
    transition: border 250ms;
}
.openFilesTabFile{
    padding-right:0.2em !important;
}
.openFilesTabAction{
    min-width:0 !important;
    padding-left:0.2em !important;
}
.openFilesTab.active{
    border-bottom:2px solid $theme;
}
.openFilesTab.active>.openFilesTabFile{
    color:$theme !important;
}
.openFilesTabFile:hover,.openFilesTabFile:focus{
    background:transparent !important;
    outline:none;
    color:$theme !important;
}
.openFilesTabAction:hover,.openFilesTabAction:focus{
    background:transparent !important;
    outline:none;
}
.openFilesTabAction:hover::before{
    color:$theme !important;
}
.openFilesTab button{
    margin:0 0 !important;
}