@import '../Layout';
.column{
    width:25%;
    float:left;
    box-sizing:border-box;
    padding:0 1em;
}
.mainRow{
    margin:2em -1em;
}
.card{
    margin-top:1em;
    display:block;
    padding:10px;
    text-decoration:none;
}
.card:hover{
    text-decoration:none;
}
.container{ 
    padding:2em;
}
.clear{
    clear:both;
}
.title{
    margin-bottom:1em;
}
@media(max-width: $mobile-break){
    .column{
        width:100%;
        display:block;
    }
}