.container{
    max-width:300px;
    margin:0 auto;
    padding:4em 1em;
    text-align:center;
    h5{
        margin-bottom:2em;
    }
}
.logo{
    width:50%;
    max-width:80px;
    display:block;
    margin:0 auto 3em auto;
}