.logo{
    height:1em;
    display:inline-block;
    top:0.15em;
    position:relative;
}
.home{ 
    padding:0 !important;
    text-align:center;
    margin-right:1em;
}   
.dialogStyle{
    max-width:500px !important;
    width: 100% !important;
    margin:4em 0zem !important;
    background:#FFF !important;
    top:0 !important;
}

.navbar{
    display:flex;
    background:#FFF;
    border-bottom:1px solid #EEE !important;
    flex-wrap: wrap;
    border-style:none;
    box-shadow:none !important;
    padding:0.4em 1em;
    justify-content: space-between;
    height:auto;
}
.navbar>div button{
    margin:0 0.4em;
}
.navbar>div{
    height:auto;
}