.logo{
    height:1em;
    margin-right:0.5em;
    display:inline-block;
    vertical-align:top;
    top:0.6em;
    position:relative;
}
.navbar{
    box-shadow:none !important;
    margin:0.5em 0 1em 0;
}
.home{
    font-weight:700;
}   
.dialogStyle{
    max-width:500px !important;
    width: 100% !important;
    margin:4em 0zem !important;
    background:#FFF !important;
    top:0 !important;
}