<!DOCTYPE html>
<html ng-app="login-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Seashell</title>
    <!-- Add scripts/styles in build/{scripts,styles}.index -->
    @(make-script-section scripts)
    @(make-style-section styles)
    <script type='text/javascript'>
      var SEASHELL_CREDS_COOKIE='seashell@(values SEASHELL_API_VERSION)-creds';
      var SEASHELL_API_VERSION=@(values SEASHELL_API_VERSION);
    </script>
	</head>
  <body>
    <header>
      <div class="container" style="text-align: center">
        <link href="//fonts.googleapis.com/css?family=Unkempt:700" rel="stylesheet" type="text/css">
        <div id="seashell-logo" class="col-md-6 col-xs-6 text-left" style="padding: 0">
          <span style="font-family: 'Unkempt', cursive; font-size: 25px; color: #888">seashell</span>
          <span style="font-size: 14px; color: black; font-variant: small-caps; color: #888; position: absolute">3.0.9</span>
        </div>
      </div>
    </header>
    <div class="container" ng-controller="LoginController as login">
      <form class="form-signin" role="form" ng-submit="login.login()">
        <h2 class="form-signing-heading">Please sign in with your <a href="https://www.student.cs.uwaterloo.ca/password/">student.cs</a> credentials</h2>
        <div>Supported browsers:
          <ul>
            <li><a href="https://www.mozilla.org/firefox/">Firefox 62 - 72</a></li>
            <li><a href="https://www.google.com/chrome/">Google Chrome 69 - 79</a></li>
          </ul>
          <span id="browser_warning" style="color:red;"></span>
          <script type='text/javascript'>
            var usingOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            var usingFirefox = typeof InstallTrigger !== 'undefined';
            var usingChrome = !usingOpera && !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);
            if(!(usingFirefox || usingChrome)) {
              var warning_span = document.getElementById('browser_warning');
              if(warning_span !== null) {
                warning_span.innerHTML = "Please use Seashell with Firefox or Google Chrome.";
              }
            }
          </script>
        </div>

        <input type="text" class="form-control" placeholder="Username" ng-model="login.user" id="user"
          ng-disabled="login.busy" />
        <input type="password" class="form-control" placeholder="Password" ng-model="login.password" id="password"
          ng-disabled="login.busy" />
        <button class="btn btn-lg btn-primary btn-block" name="login-submit" type="submit"
          ng-disabled="login.busy">Sign in</button>

        <div class="alert alert-info" ng-show="login.busy" ng-cloak>
          Logging in...
        </div>
        <div class="alert alert-danger" ng-show="login.error" ng-cloak>
          Error message: <b>{{(login.error.responseJSON.error.message === "Invalid credentials." ||
                               login.error.responseJSON.error.message === "Bad password provided.")
                               ? "Invalid Username and/or Password" : login.error.responseJSON.error.message}}</b><br>
          Extra info: {{login.error.status}} {{login.error.statusText}}
        </div>
      </form>
    </div>
	</body>
</html>
