<!DOCTYPE html>
<html ng-app="loginForm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Seashell</title>

    <link rel="stylesheet" type="text/css" href="index/signin.css">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
  <body>
    <header>
      <div class="container" style="text-align: center">
        <link href="//fonts.googleapis.com/css?family=Unkempt:700" rel="stylesheet" type="text/css">
        <div id="seashell-logo" class="col-md-6 col-xs-6 text-left" style="padding: 0">
          <span style="font-family: 'Unkempt', cursive; font-size: 25px; color: #888">seashell</span>
          <span style="font-size: 14px; color: black; font-variant: small-caps; color: #888; position: absolute">beta</span>
        </div>
      </div>
    </header>
    <div class="container" ng-controller="LoginController">
      <form class="form-signin" role="form">
        <h2 class="form-signing-heading">Please sign in with your student.cs credentials</h2>

        <input type="text" class="form-control" placeholder="Username" ng-model="user.user"
          ng-disabled="busy" />
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"
          ng-disabled="busy" />
        <button class="btn btn-lg btn-primary btn-block" name="login-submit" type="submit"
          ng-click="login(user)" ng-disabled="busy">Sign in</button>

        <div class="alert alert-info" ng-show="busy">
          Logging in...
        </div>
        <div class="alert alert-warning" ng-show="error">
          {{error}}
        </div>
      </form>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sprintf/0.0.7/sprintf.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>

    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="index/login-controller.js"></script>
	</body>
</html>
