<!-- Here begins the body. -->
<div class="container-fluid">
  <noscript>
    This page requires JavaScript to operate properly, or at all.
  </noscript>

  <div ng-show="frontend.timeout" ng-cloak
    class="alert alert-danger text-center" role="alert">
    Lost contact with the server (Seashell will keep trying to
    reconnect).
  </div>

  <div ng-show="frontend.failed" ng-cloak
    class="alert alert-danger text-center" role="alert">
    Something bad happened!  Try reconnecting <a ng-click="frontend.reconnect()" href="">again</a>, or
    logging in <a ng-click="frontend.login()" href="">again</a>.
  </div>

  <div ng-show="frontend.disconnected && !frontend.failed" ng-cloak
    class="alert alert-danger text-center" role="alert">
    Lost contact with the server. You can try reconnecting again <a href="" ng-click="frontend.reconnect()">here</a>, or logging in <a ng-click="frontend.login()" href="">again</a>.
  </div>

  <div ng-show="frontend.offline_mode && frontend.offline_mode !== 2" ng-cloak
    class="alert alert-success text-center" role="alert">
    Seashell is currently running in <a href="" ng-click="frontend.offline_info()">offline mode</a> because the websocket connection is unavailable. You can try reconnecting <a href="" ng-click="frontend.reconnect()">here</a>, or <a href="" ng-click="frontend.login()">logging in again</a>.
  </div>

  <div ng-show="frontend.offline_mode === 2" ng-cloak
    class="alert alert-success text-center" role="alert">
    Seashell is currently running in forced <a href="" ng-click="frontend.offline_info()">offline mode</a>. Change your <a href="" ng-click="frontend.settings()">settings</a> to go back online.
  </div>
  
  <alert ng-repeat="error in frontend.errors.errors" ng-cloak
    type="danger" close="frontend.errors.suppress($index)" role="alert">
    <b>An error has occurred: </b>{{error.shorthand}} <span ng-bind-html="frontend.errors.getMessage(error.type)"></span>
    <pre ng-cloak>
version:     @(values SEASHELL_VERSION) (@(values SEASHELL_BRANCH) at @(values SEASHELL_COMMIT))
api_version: @(values SEASHELL_API_VERSION)
host:        {{frontend.host}}
error:       {{error.error}}</pre>
  </alert>

  <div ui-view></div>
</div>
