<!-- Here begins the body. -->
<div class="container-fluid">
  <noscript>
    This page requires JavaScript to operate properly, or at all.
  </noscript>

  <div ng-show="frontend.timeout" ng-cloak
    class="alert alert-danger text-center" role="alert">
    Lost contact with the server (Seashell will keep trying to
    reconnect).
  </div>

  <div ng-show="frontend.failed"
    class="alert alert-danger text-center" role="alert">
    Something bad happened!  Try reconnecting <a ng-click="frontend.reconnect()" href="">again</a>, or
    logging in <a ng-click="frontend.login()" href="">again</a>.
  </div>

  <div ng-show="frontend.disconnected && !frontend.failed"
    class="alert alert-danger text-center" role="alert">
    Lost contact with the server. You can try reconnecting again <a href="" ng-click="frontend.reconnect()">here</a>, or logging in <a ng-click="frontend.login()" href="">again</a>.
  </div>
  
  <alert ng-repeat="error in frontend.errors.errors"
    type="danger" close="frontend.errors.suppress($index)" role="alert">
    <b>An error has occurred: </b>{{error.shorthand}}  If this error <b>persists</b>,
    please email <a href="mailto:seashell@@cs.uwaterloo.ca">seashell@@cs.uwaterloo.ca</a>
    the error message and the following information for debugging purposes:
    <pre ng-cloak>
version:     @(values SEASHELL_VERSION) (@(values SEASHELL_BRANCH) at @(values SEASHELL_COMMIT))
api_version: @(values SEASHELL_API_VERSION)
host:        {{frontend.host}}
error:       {{error.error}}</pre>
  </alert>

  <div ui-view></div>
</div>
