/** Fixed height tags. */
html {
  height: 100%;
}
body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
  height: 100%;
  padding-bottom: 50px; /** Account for fixed navbar. */
}

/** Row padding */
.row {
  padding: 2px;
}

/** Height-manipulation */ 
.content-fill {
  height: 100%;
  min-height: 100%;
}

/** Editor and the console.  Make sure width + height <= 100%. */
.editor {
  height: 75%;
  border: 1px solid #ccc;
  clear: both;
}
.editor > .CodeMirror {
  width: 100%;
  height: 100%;
}
.console {
  height: 20%;
  border: 1px solid #ccc;
  clear: both;
}
.console > .CodeMirror {
  width: 100%;
  height: 100%;
}
.console-input {
  height: 5%;
  background-color: #fff;
  border: 1px solid #ccc;
  clear: both;
}
.console-input > input {
  font-family: monospace;
  line-height: 1em;
  padding: 0.4em;
  border: none;
}
