/** Fixed height tags. */
body {
  position: relative; /* For scrollyspy */
  padding-top: 15px;
}

.container-fluid {
  padding-left: 5em;
  padding-right: 5em;
}
.row {
  padding: 2px;
}

/** Height-manipulation */
.disconnected {
}

.disconnected a, .disconnected button {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

/** Toolbar */
#question-controls {
  text-align: right;
  padding-left: 0;
}

#question-controls button {
  text-decoration: none;
  font-size: 14px;
}

/** Help Modal */
#EditorShortcut {
  opacity: 0;
}

/** Editor and the console. */
.CodeMirror {
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CodeMirror-gutters {
  border: 1px dashed #eee;
}

.editor-console {
  margin-top: 5px;
  margin-bottom: none;
}

#editor {
}

#editor > .CodeMirror {
  height: 300px;
  border: 1px solid #ddd;
  border-top: none;
}

#editor-controls > button {
  text-decoration: none;
}

#editor-controls > button > span {
  font-variant: small-caps;
}

#current-file-controls {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-color: #eee;
}

.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}

#console {
}

.editor-console-title {
  border: 1px solid #ddd;
  background: #f4f4f4;
  font-size: 18px;
  padding: 5px 0 3px 18px;
  font-weight: 200;
}

.console-controls {
  margin-top: 1px;
  margin-right: 7px;
  font-size: 15px;
}

#input-controls {
  margin-top: 1px;
  margin-right: 14px;
  font-size: 15px;
}

.console-control {
  font-weight: 200;
  font-size: 15px;
  padding: 0;
  padding-right: 6px;
  position: relative;
  bottom: 2px;
  text-decoration: none;
  font-variant: small-caps;
}

.console-control:hover {
  text-decoration: none;
}

#console-input {
  background-color: #fff;
  clear: both;
  border: 1px solid #ddd;
  border-top-color: #eee;
}
#console-input input, #console-input input:focus {
  font-family: Menlo, Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
  line-height: 1em;
  padding: 0.4em;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
}
#console-input .input-group-addon {
  background-color: white;
  padding-right: 0;
  padding-left: 5px;
  border: none;
}
/** Callouts. */

/* Base styles (regardless of theme) */
.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
.callout-danger h4 {
  color: #B94A48;
}
.callout-warning h4 {
  color: #C09853;
}
.callout-info h4 {
  color: #3A87AD;
}

/** Linter */
.CodeMirror-lint-tooltip {
  z-index: 1055;
}

/** Tooltips */
div.tooltip .tooltip-inner {
  max-width: 175px !important;
  white-space: nowrap;
}

#test-tab {
  padding-top:10px;
}

.test-result-output {
  background:#EEE;
  border:1px solid #999;
  border-radius:5px;
  font-family:monospace;
  color:#000;
  padding:10px;
  font-weight:normal;
}

.test-result-highlight {
  color:#FF0000;
  font-weight:bold;
}

.test-result-diff {
  display:inline-block;
  vertical-align:top;
  padding:10px;
  border-right:1px solid #999;
  height:100%;
}

.test-result-line-num {
  color:#000;
  font-weight:bold;
}

.question-link {
  opacity: 0.5;
}

.question-link:hover, .question-link-active:hover {
  text-decoration: none;
  opacity: 1;
  color: black;
}

.question-link-active {
  opacity: 1;
  color: black;
}

.file-text {
  font-family: monospace;
}
.file-link {
  opacity: 0.5;
}

.file-link:hover, .file-link-active:hover {
  text-decoration: none;
  opacity: 1;
  color: black;
}

.file-link-active {
  opacity: 1;
  color: black;
}

.questions-row {
  font-weight: 300;
}

.questions-row-container {
  text-align: right;
}

#project-list table {
  margin: 0 auto;
}

#project-list table td {
  padding:3px 20px 3px 20px;
}

#last-saved {
  color: #444;
  float: right;
}

.popover-menu {
  display: block;
  position: relative;
  border: none;
  box-shadow: none;
  float: none;
  padding: 0;
  margin: 0;
}

#question-controls a, #question-controls button {
  font-variant: small-caps;
}

#question-controls .popover {
  padding: 0;
}

#question-controls .popover-content {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#question-controls .dropdown-menu > li > a:hover,
#question-controls .dropdown-menu > li > a:focus {
  color: white;
  background: none;
  background-color: black;
}

#question-controls .divider {
  margin-top: 5px;
  margin-bottom: 5px;
}


#console-title {
  border-top: none;
}

#console > .CodeMirror {
  height: 299px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  clear: both;
}

#console > .CodeMirror .CodeMirror-lines {
  padding-bottom: 0;
  padding-top: 0;
}

#console > .CodeMirror .CodeMirror-lines pre {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
}

#question-controls {
  float:right;
  text-align:right;
}

#resize-button {
  display: none;
}

@media (min-width: 992px) {
	#resize-button { display: inline; }
  #console:not(.console-narrow) #console-title {
    border: 1px solid #ddd;
	  border-left: none;
	}
  #console:not(.console-narrow) .CodeMirror { border-left: none; }
  #console:not(.console-narrow) #console-input { border-left: none }
  #console.console-narrow { width: 100%; }
  #editor.console-narrow { width: 100%; }
}

.alert {
  background-image: none;
}

input::-ms-clear {
  display: none;
}

#seashell-logo {
  cursor: pointer;
}

#file-menu .row:after {
  clear:left;
}

#marmoset-details-table td, #marmoset-details-table th {
  padding: 3px;
}

#marmoset-details-table pre {
  white-space: pre-wrap;
}

#commit-project-descr .CodeMirror {
  border: 1px solid #ddd;
}
#send-eof {
  z-index: 2;
}

.col-too-long {
  color: rgb(240, 0, 0);
}

/* navbar overrides */
.navbar {
  min-height: 40px;
}

.navbar-default {
  border: none;
  box-shadow: none;
  background: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-icons > li > a {
  padding: 10px 6px;
  font-size: 12px;
  text-decoration: none;
}

/* Project List */

#projectOptions {
  text-align: center;
}

#projectOptions a{
  padding: 0 25px;
  font-size: 1.25em;
  font-weight: bold;
}

#projectList div{
  display: inline-block;
  vertical-align: middle;
  float: left; 
  padding: 0;
}

#projectList {
  vertical-align: middle;
}

.outerList {
  width: 50%;
}

.innerList {
  width: 50%; 
}
.outerList {
  margin: 0 auto;
}

@media (max-width: 700px){
  .outerList {
    width: 100%;
  }
}
@media (max-width: 450px){
  .innerList {
    width: 100%;
  }
}
#projectList h3 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
}

#projectList ul {
  list-style-type: none;
  display: block;
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

#projectList li {
  text-align: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ddd;
}
