body {
    /*
    background: #c0ffee;
    */
    margin: 0;
    padding: 0;
    text-align: center;
}

#settings_size label {
    display: inline-block;
    width: 4em;
}

#container {
    width: 80%;
    max-width: 60em;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

#top,#bottom {
    background-color: #eee;
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-top: 0.25em;
}

#codeArea {
    background-color: #fff;
    border: 1px solid #ccc;
    clear: both;
}
#codeArea textarea {
    border: none;
    font-family: monospace;
    line-height: 1em;
    padding: 0.4em;
}
.buttons {margin-bottom: 0.25em; }
.buttons button{
    margin-left: 0; 
/*
    background-color: #fff;
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
*/
}
.left {float: left; }
.right { float: right; }
.buttons.left { margin-right: 0.25em; } /* margin-right == spacing - 0.25em */
.buttons.left button {margin-right: 0.25em; }
.buttons.right { margin-left: 0.25em; }
.buttons.right button{margin-left: 0.25em; margin-right: 0;}
.userid { font-weight: bold; }
#filelist {
    background-color: #a00;
    list-style-type: none;

    margin-top: 2em; /* for chrome */
    padding: 0;
    clear: both;
}
#filelist li {
    background-color: #ddd;
    display: inline;
    float: left;
    vertical-align: bottom;
    /*
    width: 8em;
    */
    margin: 0;
    margin-right: 0.3em;
    padding-left: 0.25em;
    padding-right: 0.4em;
    border: 1px solid #ccc;
    border-bottom: none;
}
#filelist .status_active {
    background-color: #268BD2;
    border: 1px solid #268BD2;
    border-bottom: none;
}
#filelist .status_edited {
    font-style: italic;
}

#filelist .tabclose {
    font-weight: bold;
    margin-left: 0.5em;
    font-family: sans-serif;
    color: #aaa;
    text-shadow: #555 0px -1px 0px;
}

#filelist .status_active span.tabclose {
    color: #eee;
    text-shadow: #333 0px -1px 0px;
}
#filelist span.tabclose:hover {
    color: #C9B151;
    cursor: default;
}
/*
#filelist .status_active span.tabclose:hover {
    color: #C9B151;
}
*/
#filelist span.tabclose:active {
    color: #E18728;
}

#console {
    background-color: #333;
    -webkit-box-shadow: inset 1px 1px 0px 0px #222;
    box-shadow: inset 1px 1px 0px 0px #222;
    font-family: monospace;
/*
    margin-top: 0.25em;
*/
    padding: 0.25em;
    line-height: 1em;
    height: 10em;
    overflow: auto;
    clear: both;
}
.dark-on-light {
    color: #eee;
}

#overlay {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}
#help {
    display: none;
}
#settings {
    background-color: #fff;
    background-color: #268BD2;
    opacity: 0.9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    position: absolute;
    top: 2em;
    right: 0;
    width: 60%;
    padding: 0.5em;
    padding-top: 0.25em;
    z-index: 100;
    display: none;
}

/*
#settings legend {
    background-color: #268BD2;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.1em;
}
    */
#settings fieldset {
    border: none;
/*
    border-radius: 0.1em;
    border: 0.2em solid #268BD2;
    */
}
#settings fieldset ul {
    padding: 0;
    margin-top: 0.25em;
}
#settings fieldset li {
    list-style-type: none;
    list-style-position: inside;
}

#save-status {
    color: #aaa;
}
#time-saved {
    min-width: 3em;
}

.dir {
	font-weight: bold;
}
