      <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="help-label">Seashell Documentation</h4>
      </div>
      <div class="modal-body">
        <h4>Getting Started</h4>
        See the <a target="_blank" href="docs/user.html">Seashell User Documentation</a>.
        <br /><br />
        <h4>Reset Seashell</h4>
        It often helps to reset your Seashell instance if it gets locked
        up in some way. To do this, <a href="" ng-click="login()">log in again</a>,
        and check the box labeled "Check to reset your Seashell instance."
        <br /><br />
        <h4>Cluttered old projects?</h4>
        If you have used Seashell in a previous term and want to clear all of
        your old projects, you can <a href="" ng-click="archive()">archive all
        projects</a>.
        <br /><br />
        <h4>Default Editor Shortcuts</h4>
        These are shortcuts that will work when the editor window is focused.
        <ul class="list-group">
          <li class="list-group-item">
          <span class="badge">Ctrl-f</span>
          Start new search.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-g</span>
          Go to next match.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-G</span>
          Go to previous match.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-z</span>
          Undo.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-y</span>
          Redo.
          </li>
          <!--
          <li class="list-group-item">
          <span class="badge">Ctrl-i</span>
          Indent.
          </li> -->
          <li class="list-group-item">
          <span class="badge">Ctrl-j</span>
          Go to line.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
      </div>
