      <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="help-label">Seashell Documentation</h4>
      </div>
      <div class="modal-body">
        <h4>Getting Started</h4>
        See the <a target="_blank" href="docs/user.html">Seashell User Documentation</a>
        <br />
        <h4>Reset Seashell</h4>
        It often helps to hard-reset your Seashell instance if it gets locked
        up in some way. To do this, click the button below to log in again,
        and check the box labeled "Check to hard-reset your Seashell instance."
        <button type="button" class="btn btn-primary" ng-click="login()">Log in Again</button>
        <br />
        <h4>Default Editor Shortcuts</h4>
        These are shortcuts that will work when the editor window is focused
        (the cursor will be blinking if the window is focused).
        <ul class="list-group">
          <li class="list-group-item">
          <span class="badge">Ctrl-f</span>
          Start new search.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-g</span>
          Go to next match.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-G</span>
          Go to previous match.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-z</span>
          Undo.
          </li>
          <li class="list-group-item">
          <span class="badge">Ctrl-y</span>
          Redo.
          </li>
          <!--
          <li class="list-group-item">
          <span class="badge">Ctrl-i</span>
          Indent.
          </li> -->
          <li class="list-group-item">
          <span class="badge">Ctrl-j</span>
          Go to line.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
      </div>
