<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="new-project-label">
    <span class="glyphicon glyphicon-file"></span>
    New Project</h4>
</div>
<form name="newProjectForm" novalidate ng-submit="newProjectForm.$valid && newProject()">
<div class="modal-body form-horizontal">
  <div class="form-group"
    ng-class="{'has-error': newProjectForm.new_project_name.$invalid}">
    <label class="control-label col-sm-4" for="new_project_name">Project Name:</label>
    <div class="col-sm-6">
      <input type="text" id="new_project_name" ng-model="new_project_name" required  name="new_project_name" class="form-control">
      <span class="help-block" ng-show="newProjectForm.new_project_name.$invalid">Required</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
  <input type="submit" class="btn btn-primary" value="Create">
</div>
</form>
