<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="new-file-label">New file...</h4>
</div>
<form name="newFileForm" novalidate ng-submit="newFile()">
<div class="modal-body" style="font-size: 16px; padding-bottom: 0">
  <div ng-class="{'has-error': no_file_name}" class="form-group">
    <div class="row">
      <div class="col-xs-4 text-right" style="padding-right: 10px">
        <select ng-model="new_file_folder" style="outline: none">
          <option>common</option>
          <option>{{question}}</option>
          <option>tests</option>
        </select>
      </div>
      <div class="col-xs-8" style="padding-left: 0">
        <span><b>/&nbsp;</b></span>
        <input type="text"
               ng-modle="new_file_name"
               name="new_file_name"
               class="form-control"
               placeholder="(file name)"
               style="outline: none; width: 200px; padding-left: 5px">
      </div>
    </div>
    <div class="row" id="upload-file-row">
      <div class="col-xs-8 col-xs-offset-4">
          <div class="form-group">
            <label for="file-to-upload">
              <span class="text-muted">or</span>
              upload a file:
            </label>
            <input type="file" name="file_to_upload"
                   ng-model="file_to_upload">
          </div>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="button" id="button-new-file" class="btn btn-primary">OK</button>
</div>
</form>
