      <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="help-label">Offline Mode</h4>
      </div>
      <div class="modal-body" id="popup-text">
        <p>Seashell's offline mode allows you to write code and run C programs while temporarily disconnected
        from the internet. It stores all of your code locally using your web browser and synchronizes the
        local copy with the server when it becomes available.</p>
        <p>If you want to enable or disable offline mode, you can do so at any time from Seashell's
        <a href="" ng-click="settings()">settings</a> menu.</p>
        <p><strong>Note:</strong> Since Seashell's offline mode stores your assignment solutions locally, you
        should only enable offline mode <strong>on your own personal computer</strong>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
      </div>
