<table class="table">
  <tr>
    <th><a href="" ng-click="projects.new()">New assignment</a></th>
    <th>Questions...</th>
    <th><a href="" ng-click="projects.refresh()">refresh</a></th>
  </tr>
  <tr ng-repeat="project in projects.projectList.list">
    <td>
      <a ui-sref="edit-project({project: '{{project}}'})" class="project-list-item">{{project}}</a>
    </td>
    <td>
      <span ng-repeat="question in projects.projectList.question_list[project]">
       <a ui-sref="edit-project.editor({project: '{{project}}', question: '{{question}}'})">{{question}}</a>
       <span ng-show="!$last"> | </span>
     </span>
   </td>
   <td>
     <a ng-show="projects.isDeletable(project)" ng-click="projects.delete(project)" href="">delete...</a>
   </td>
  </tr>
</table>
