<div id="projectOptions">
  <a href="" ng-click="projects.new()">New Project</a>
  <a href="" ng-click="projects.refresh()">Refresh</a>
</div>
<hr />
<div id="projectList">
  <div id="assnTutList" class="outerList">
    <div id="assignmentList" class="innerList">
      <h3>Assignments</h3>
      <ul ng-repeat="project in projects.projectList.list | projectFilter:'A'">
        <li>
          <a ui-sref="edit-project({project: '{{project}}'})" class="project-list-item">{{project}}</a>
        </li>
      </ul>
    </div>
    <div id="tutorialList" class="innerList">
      <h3>Tutorials</h3>
      <ul ng-repeat="project in projects.projectList.list | projectFilter:'TUT'">
        <li>
          <a ui-sref="edit-project({project: '{{project}}'})" class="project-list-item">{{project}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="lecPersList" class="outerList">
    <div id="lectureList" class="innerList">
      <h3>Lectures</h3>
      <ul ng-repeat="project in projects.projectList.list | projectFilter:'LEC'">
        <li>
          <a ui-sref="edit-project({project: '{{project}}'})" class="project-list-item">{{project}}</a>
        </li>
      </ul>
    </div>
    <div id="personalList" class="innerList">
      <h3>Personal</h3>
      <ul ng-repeat="project in projects.projectList.list | projectFilter:'NONE'">
        <li>
          <a ui-sref="edit-project({project: '{{project}}'})" class="project-list-item">{{project}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
