  <!-- Project Dropdown -->
  <div class="row">
    <div class="col-xs-12 col-md-12"
         style="margin-top: 15px">
      <div class="col-md-6 col-xs-6"
           style="padding: 0">
        <h2 class="text-left" style="margin-bottom: 0; margin-top: 0">
          <span style="position: relative; bottom: 0; font-size: 20px">
            <span style="font-weight: 400">
              <span class="userid">{{editView.userid}}</span> /
            </span>
            <div class="dropdown" style="display: inline">
              <a role="button"
                 class="dropdown-toggle"
                 style="text-decoration: none; color: black">
                 <span>{{editView.project.name}}</span><span class="caret"></span>
              </a>
              <ul id="projects-dropdown" class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.download()>
                    download assignment...
                  </a>
                </li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.newQuestion()>
                    new question...
                  </a>
                </li>
                <li class="divider" role="presentation"></li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.newQuestion()>
                    new question...
                  </a>
                </li>
                <!-- TODO: add items here. -->
                <li role="presentation" ng-show="editView.canDelete()">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.delete()>
                    delete assignment...
                  </a>
                </li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.close()>
                    close assignment...
                  </a>
                </li>
              </ul>
            </div>
          </span>
        </h2>
      </div>
      <div
         id="questions-row-container"
         class="col-md-6 col-xs-6 questions-row-container"
         style="font-size: 18px; margin-top: 5px; padding: 0">
         <span class="questions-row" style="word-spacing: 15px">
           <a ng-repeat="question in editView.questions"
              ui-sref="{question: '{{question}}'}"
              ng-class="{'question-link-active': question === editView.arguments.question,
                         'question-link': question !== editView.arguments.question}">
              {{question}}
            </a>     
         </span>
      </div>
    </div>
  </div>
