  <!-- Project File Selector Template [in EditView] -->
  <div class="row" ng-show="editView.arguments.question">
    <div class="col-md-12 col-xs-12">
      <div class="row" style="padding-top: 0">
        <div class="col-md-6 col-xs-8" id="common-files">
          <kbd style="font-style: italic">common/&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <!-- TODO: bind list of common files here. -->
            <a ng-repeat="file in editView.common_files"
              ui-sref="{part: 'common', file: '{{file}}'}"
              ng-class="{'file-link-active': 'common' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
        <div id='question-controls' class="col-md-6 col-xs-4">
          <div style="display: inline-block; vertical-align: top;">
            <!-- TODO: add ngClick here. -->
            <a href=""
              class="btn btn-link"
              style="padding: 0; margin-right: 11px; outline: 0; text-decoration: none">
              <span>add file…</span>
            </a>
          </div>
          <div style="display:inline-block">
            <!-- TODO: add ngClick here. -->
            <a href=""
                  class="btn btn-link"
                  style="padding: 0; margin-right:11px; outline:0; text-decoration: none">
              <span>submit question</span>
            </a><br />
            <!-- TODO: bind Marmoset Results Here. -->
            <a
                  class="btn btn-link hide"
                  style="padding: 0; float: right; margin-right: 11px; margin-top: -4px; outline: 0; text-decoration: none">
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <!-- TODO: bind question files here. -->
          <kbd style="font-style: italic">
            <span>{{editView.arguments.question}}
          </span>&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <!-- TODO: bind list of common files here. -->
            <a ng-repeat="file in editView.question_files"
              ui-sref="{part: 'question', file: '{{file}}'}"
              ng-class="{'file-link-active': 'question' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
      </div>
      <!-- TODO: bind test files here. -->
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <kbd style="font-style: italic">tests/&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <a ng-repeat="file in editView.test_files"
              ui-sref="{part: 'tests', file: '{{file}}'}"
              ng-class="{'file-link-active': 'tests' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
      </div>
    </div>
  </div>

