  <!-- File Editor Template -->
  <div id="console-editor-container" class="row">
    <div class="col-md-12 col-xs-12"
         style="padding: 0"
         role="main">
      <div class="editor-console">
        <div id="editor"
             class="col-md-6 col-xs-12"
             style="position: relative; padding: 0; overflow: hidden;"
             ng-class="{'console-narrow': editFileView.settings.settings.force_narrow}">
          <div id="editor-title"
               class="col-md-12 col-xs-12 editor-console-title">
            <span class="glyphicon glyphicon-file"></span>
            <span style="position: relative; bottom: 2px; left: 2px"> {{editFileView.file}}</span>
            <div id="editor-controls"
                 style="position: absolute; right: 13px; top: 0px">
              <button id="toolbar-run-tests" ng-click="editFileView.testFile()" class="btn btn-link"
                      ng-disabled="!(editFileView.runnerFile)"
                      style="padding-left: 0; padding-right: 0; margin-right: 15px; padding-top: 2px" tooltip-placement="left" tooltip="Control+E"
                      ng-show="editFileView.console.PIDs === null">
                <span style="font-size: 18px">test</span>
              </button>
              <button id="toolbar-run" ng-click="editFileView.runFile()" ng-show="editFileView.console.PIDs === null" class="btn btn-link"
                      ng-disabled="!(editFileView.runnerFile)"
                      style="padding-left: 0; padding-right: 0; padding-top: 2px" tooltip-placement="left" tooltip="Control+R">
                <span style="font-size: 18px">run</span>
                <span class="glyphicon glyphicon-play-circle"></span>
              </button>
              <button id="toolbar-kill" ng-click="editFileView.killProgram()" ng-show="editFileView.console.PIDs !== null" class="btn btn-link"
                      style="padding-left: 0; padding-right: 0; padding-top: 2px" tooltip-placement="left" tooltip="Control+K">
                <span style="font-size: 18px">stop</span>
              </button>
            </div>
          </div>

          <div id="current-file-controls" class="col-md-12 col-xs-12">
            <button id="toolbar-rename-file"
                    ng-click="editFileView.renameFile()"
                    class="btn btn-link">
            rename/move
            </button>
            <button id="toolbar-copy-file" 
                    ng-click="editFileView.copyFile()"
                    class="btn btn-link">
            copy
            </button>
            <button id="toolbar-delete-file"
                    ng-click="editFileView.deleteFile()"
                    class="btn btn-link">
            delete
            </button>
            <button id="toolbar-set-runner"
                    ng-click="editFileView.setFileToRun()"
                    class="btn btn-link"
                    ng-disabled="(editFileView.folder !== 'question' && editFileView.folder !== 'common') || editFileView.isFileToRun">
                    set as <span class="glyphicon glyphicon-play-circle"></span> file 
            </button>
            <div ng-show="editFileView.editor.hasFocus()"
                 style="padding-top: 7px; float: right;
                         font-size: 14px; font-variant: small-caps; color: #999">
                 <span>ln {{editFileView.line}}</span>
                 <span ng-class="{'col-too-long': editFileView.col > 80}">col {{editFileView.col}}</span>
            </div>
          </div>
          <div id="binary-editor-placeholder"
               ng-show="editFileView.isBinaryFile"
               style="width: 100%; height: 90%; position: absolute; top: 70px; left:0; z-index: 9"
               >
               <div style="position: relative; top: 40%">
                 <h3 class="text-center text-muted">
                   <i>binary file</i>
                 </h3>
               </div>
          </div>
          <div id="binary-editor-placeholder"
               ng-show="editFileView.unavailable"
               style="width: 100%; height: 90%; position: absolute; top: 70px; left:0; z-index: 9"
               >
               <div style="position: relative; top: 40%">
                 <h3 class="text-center text-muted">
                   <i>file unavailable offline</i>
                 </h3>
               </div>
          </div>
          <textarea ui-codemirror ui-codemirror-opts="editFileView.editorOptions"
            ng-model="editFileView.contents" style="margin-top:70px;"></textarea>
        </div>
        <div id="console" class="col-md-6 col-xs-12" style="padding: 0; position: relative"
          ng-class="{'console-narrow': editFileView.settings.settings.force_narrow}">
          <div id="console-title"
               class="col-md-12 col-xs-12 editor-console-title">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span style="position: relative; bottom: 2px; left: 2px">
              console
            </span>
            <div class="console-controls pull-right">
              <button id="console-clear-button"
                      ng-click="editFileView.clearConsole()"
                      class="btn btn-link console-control">clear</button>
              <button id="resize-button" ng-click="editFileView.onResize()"
                      class="btn btn-link console-control">resize</button>
            </div>
          </div>
          <textarea ui-codemirror ui-codemirror-opts="editFileView.consoleOptions"
            ng-model="editFileView.console.contents" style="margin-top:3px;border-top:1px solid #ddd;"></textarea>
          <div id="console-input">
            <div class="input-group"
                 style="width: 100%">
              <div class="input-group-addon" style="font-size: 10px">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
              <input ng-model="editFileView.userInput" ng-keypress="editFileView.sendInput($event)"
                type="text" class="form-control" id="input-line" ng-disabled="!editFileView.console.running"
                ng-trim="false" focus-on="program-running" placeholder="Type here and press <Enter>">
              <div class="console-controls"
                   style="position: absolute; top: 5px; right: 0"
                   tooltip-placement="left"
                   tooltip="Control+D">
                <button id="send-eof" ng-click="editFileView.sendEOF()" ng-disabled="!editFileView.console.running"
                        class="btn btn-link console-control">eof</button>
              </div>
            </div>
          </div>
      </div><!-- end main panel tabs -->
    </div>
  </div>
