<!-- Editor header. -->

  <div class="row" style="padding-top: 0; padding-left: 15px;">

    <!-- Left column -->
    <div class="col-md-6 col-xs-12">
      <!-- Files in the question/ folder -->
      <div class="row">
	<span class="file-text" style="font-style: italic">
	  <span>{{editView.question}}/
	</span>&nbsp;&nbsp;</span>
	<span class="file-text" style="font-size: 14px">
	  <span ng-repeat="group in editView.question_files">
	      <span ng-if="group.isFileToRun" class="glyphicon glyphicon-play-circle runner-icon"></span>
	    <a ng-repeat-start="file in group.files"
	      ui-sref="edit-project.editor.file({part: 'question', file: '{{file | escapeFilter }}'})"
	      class="file-link"
	      ui-sref-active="file-link-active"
	      ng-class="{'current-runner-file': group.isFileToRun}">
	      {{file}}</a><span ng-repeat-end>
	    </span>
	  </span>
	</span>
      </div>

      <!-- Files in the common/ folder -->
      <div class="row" ng-show="editView.common_files.length > 0" id="common-files">
        <span class="file-text" style="font-style: italic">common/&nbsp;&nbsp;</span>
        <span class="file-text" style="font-size: 14px">
          <span ng-repeat="group in editView.common_files">
              <span ng-if="group.isFileToRun" class="glyphicon glyphicon-play-circle runner-icon"></span>
            <a ng-repeat-start="file in group.files" ng-if="$first"
               ui-sref="edit-project.editor.file({part: 'common', file: '{{file | escapeFilter}}'})"
               ui-sref-active='file-link-active'
               class='file-link'>{{file}}</a><span ng-repeat-end ng-if="!$first">,<a
              class='file-link'
              ui-sref="edit-project.editor.file({part: 'common', file: '{{file | escapeFilter}}'})"
              ui-sref-active='file-link-active'>{{file.split(".").pop()}}</a>
            </span>
          </span>
        </span>
      </div>

      <!-- Files in the tests/ folder -->
      <div class="row" ng-show="editView.test_files.length > 0">
        <span class="file-text" style="font-style: italic">tests/&nbsp;&nbsp;</span>
        <span class="file-text" style="font-size: 14px">
          <span ng-repeat="group in editView.test_files">
            <a ng-repeat-start="file in group.files" ng-if="$first"
               ui-sref="edit-project.editor.file({part: 'tests', file: '{{file | escapeFilter}}'})"
               class='file-link'
               ui-sref-active='file-link-active'>{{file}}</a><span ng-repeat-end ng-if="!$first">,<a
                 class='file-link'
                 ui-sref="edit-project.editor.file({part: 'tests', file: '{{file | escapeFilter}}'})"
                 ui-sref-active='file-link-active'>{{file.split(".").pop()}}</a>
            </span>
          </span>
        </span>
      </div>

    </div> <!-- close left column div -->

    <!-- right column -->
    <div id='question-controls' class="col-md-6 col-xs-6">
      <!--<a href=""
         ng-click="editView.commit_project()"
         class="btn btn-link"
         style="border: 0; padding: 0; outline: 0; text-decoration: none">
        <span>commit project…</span>
      </a>-->
      <a href=""
         ng-click="editView.add_test()"
         class="btn btn-link"
         style="border: 0; outline: 0; text-decoration: none">
        <span>add test…</span>
      </a>
      <a href=""
         ng-click="editView.add_file()"
         class="btn btn-link"
         style="border: 0; outline: 0; text-decoration: none">
        <span>add file…</span>
      </a>
      <a href=""
         ng-click="editView.submit_question()"
         class="btn btn-link"
         style="border: 0; outline:0; text-decoration: none; padding-right: 0px;">
        <span>submit question</span>
      </a>
      <span ng-show="editView.marmoset_short_results">
        <br>
        <a href=""
              ng-click="editView.view_results()"
              ng-show="editView.marmoset_short_results"
              class="btn btn-link"
              style="border: 0; float: right; margin-top: 0px; outline: 0; text-decoration: none; padding: 0px 6px; {{editView.marmoset_short_results_style}}">
          <span>{{editView.marmoset_short_results}}</span>
        </a>
      </span>
    </div>

  </div>

  <!-- File/Test editor goes here. -->
  <div ui-view></div>
