<!-- Editor header. -->

  <!-- Project Dropdown -->
  <div class="row">
    <div class="col-xs-12 col-md-12"
         style="margin-top: 15px">
      <div class="col-md-6 col-xs-6"
           style="padding: 0">
        <h2 class="text-left" style="margin-bottom: 0; margin-top: 0">
          <span style="position: relative; bottom: 0; font-size: 20px">
            <span style="font-weight: 400">
              <span class="userid">{{editView.userid}}</span> /
            </span>
            <div class="dropdown" style="display: inline">
              <a role="button"
                 class="dropdown-toggle"
                 style="text-decoration: none; color: black">
                 <span>{{editView.project.name}}</span><span class="caret"></span>
              </a>
              <ul id="projects-dropdown" class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.download()>
                    download assignment...
                  </a>
                </li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.newQuestion()>
                    new question...
                  </a>
                </li>
                <li class="divider" role="presentation"></li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.newQuestion()>
                    new question...
                  </a>
                </li>
                <!-- TODO: add items here. -->
                <li role="presentation" ng-show="editView.canDelete()">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.delete()>
                    delete assignment...
                  </a>
                </li>
                <li role="presentation">
                  <a href="#" tabindex="-1" role="menuitem" ngClick=editView.close()>
                    close assignment...
                  </a>
                </li>
              </ul>
            </div>
          </span>
        </h2>
      </div>
      <div
         id="questions-row-container"
         class="col-md-6 col-xs-6 questions-row-container"
         style="font-size: 18px; margin-top: 5px; padding: 0">
         <span class="questions-row" style="word-spacing: 15px">
           <a ng-repeat="question in editView.questions"
              ui-sref="{question: '{{question}}'}"
              ng-class="{'question-link-active': question === editView.arguments.question,
                         'question-link': question !== editView.arguments.question}">
              {{question}}
            </a>     
         </span>
      </div>
    </div>
  </div>
  <!-- Seperator -->
  <div class="row">
    <div class="col-md-12 col-xs-12" style="padding: 0">
      <hr style="margin-top: 9px; margin-bottom: 8px"/>
    </div>
  </div>
  <!-- Project/Question files -->
  <div class="row" ng-show="editView.arguments.question">
    <div class="col-md-12 col-xs-12">
      <div class="row" style="padding-top: 0">
        <div class="col-md-6 col-xs-8" id="common-files">
          <kbd style="font-style: italic">common/&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <!-- TODO: bind list of common files here. -->
            <a ng-repeat="file in editView.common_files"
              ui-sref="{part: 'common', file: '{{file}}'}"
              ng-class="{'file-link-active': 'common' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
        <div id='question-controls' class="col-md-6 col-xs-4">
          <div style="display: inline-block; vertical-align: top;">
            <!-- TODO: add ngClick here. -->
            <a href=""
              class="btn btn-link"
              style="padding: 0; margin-right: 11px; outline: 0; text-decoration: none">
              <span>add file…</span>
            </a>
          </div>
          <div style="display:inline-block">
            <!-- TODO: add ngClick here. -->
            <a href=""
                  class="btn btn-link"
                  style="padding: 0; margin-right:11px; outline:0; text-decoration: none">
              <span>submit question</span>
            </a><br />
            <!-- TODO: bind Marmoset Results Here. -->
            <a
                  class="btn btn-link hide"
                  style="padding: 0; float: right; margin-right: 11px; margin-top: -4px; outline: 0; text-decoration: none">
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <!-- TODO: bind question files here. -->
          <kbd style="font-style: italic">
            <span>{{editView.arguments.question}}
          </span>&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <!-- TODO: bind list of common files here. -->
            <a ng-repeat="file in editView.question_files"
              ui-sref="{part: 'question', file: '{{file}}'}"
              ng-class="{'file-link-active': 'question' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
      </div>
      <!-- TODO: bind test files here. -->
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <kbd style="font-style: italic">tests/&nbsp;&nbsp;</kbd>
          <kbd style="font-size: 14px">
            <a ng-repeat="file in editView.test_files"
              ui-sref="{part: 'tests', file: '{{file}}'}"
              ng-class="{'file-link-active': 'tests' === editView.arguments.part && file === editView.arguments.file}">
              {{file}}
            </a>
          </kbd>
        </div>
      </div>
    </div>
  </div>

  <!-- Cut out this stuff and put it into another template for edit-file,
       and put in a div ui-view -->
  <div class="row">
    <div class="col-md-12 col-xs-12"
         style="padding: 0"
         role="main">
      <div class="editor-console">
        <div class="hide-on-null-file">
          <div id="editor"
               class="col-md-6 col-xs-12"
               style="position: relative; padding: 0">
            <div id="editor-title"
                 class="col-md-12 col-xs-12 editor-console-title">
              <span class="glyphicon glyphicon-file"></span>
              <span style="position: relative; bottom: 2px; left: 2px"> code</span>
              <div id="editor-controls"
                   style="position: absolute; right: 13px; top: 0px">
                <button id="toolbar-run" class="btn btn-link"
                        style="padding-left: 0; padding-right: 0; padding-top: 2px">
                  <span style="font-size: 18px"
                        rel="tooltip"
                        title="control+[R or Enter]">run</span>
                </button>
                <button id="toolbar-kill" class="btn btn-link hidden"
                        style="padding-left: 0; padding-right: 0; padding-top: 2px">
                  <span style="font-size: 18px" rel="tooltip"
                        title="control+C">stop</span>
                </button>
                <button id="toolbar-run-tests" class="btn btn-link"
                        style="padding-left: 0; padding-right: 0; margin-left: 15px; padding-top: 2px">
                  <span style="font-size: 18px" rel="tooltip"
                        title="control+U">test</span>
                </button>
              </div>
            </div>

            <div id="current-file-controls" class="col-md-12 col-xs-12">
              <button id="toolbar-rename-file"
                      class="btn btn-link"
                      style="padding-left: 0; padding-right: 5px; text-decoration: none">
                <span style="font-size: 14px; font-variant: small-caps;">
                  rename/move
                </span>
              </button>

              <button id="toolbar-delete-file"
                      class="btn btn-link"
                      style="padding-left: 0; padding-right: 0; text-decoration: none">
                <span style="font-size: 14px; color: red; font-variant: small-caps;">
                  delete
                </span>
              </button>
            </div>
          </div>
          <div class="col-md-6 col-xs-12" style="padding: 0">
            <div id="console">
              <div id="console-title"
                   class="col-md-12 col-xs-12 editor-console-title">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span style="position: relative; bottom: 2px; left: 2px">
                  console
                </span>
                <div class="console-controls pull-right">
                  <button id="console-clear-button"
                          class="btn btn-link console-control">clear</button>
                </div>
              </div>
            </div>
            <div class="console-input">
              <div class="input-group">
                <div class="input-group-addon" style="font-size: 10px">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <input type="text" class="form-control" id="input-line">
                <div class="console-controls"
                     style="position: absolute; top: 5px; right: 0"
                     rel="tooltip"
                     title="control+D">
                  <button id="send-eof"
                          class="btn btn-link console-control">eof</button>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end main panel tabs -->
      </div>
    </div>
  </div>
