<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-cog"></span>
    Settings</h4>
</div>
<form name="settingsForm" ng-submit="settingsForm.$valid && saveSettings()" novalidate>
<div class="modal-body">
    <div class="form-group"
         ng-class="{'has-error': settingsForm.editor_font_name.$invalid}">
      <label for="editor_font_name">Font:</label>
      <input required list="fonts" name="editor_font_name" id="editor_font_name" ng-model="temp.font" class="form-control"
        placeholder="(double click/tap to list options -- or enter your own)"/>
      <datalist id="fonts">
        <option value="Courier New">
        <option value="Consolas">
        <option value="Monaco">
        <option value="Menlo">
      </datalist>
      <span class="help-block" ng-show="settingsForm.editor_font_name.$invalid">Required</span>
    </div>

    <div class="form-group"
      ng-class="{'has-error': settingsForm.font_size.$invalid}">
      <label for="editor_font">Font size:</label>
      <input type="number" required name="font_size" ng-model="temp.font_size" id="editor_font" class="form-control" placeholder="(in points)">
      <span class="help-block" ng-show="settingsForm.editor_font.$invalid">Required, Must be a number</span>
    </div>

    <div class="form-group">
      <label for="editor_mode">Editor mode:</label>
      <select id="editor_mode" ng-model="temp.editor_mode" class="form-control">
        <option value="standard" selected>Standard</option>
        <option value="vim">Vim</option>
        <option value="emacs">Emacs</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tab_width">Tab Width:</label>
      <select id="tab_width" ng-model="temp.tab_width" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4" selected>4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="theme_style">Theme:</label>
      <select id="theme_style" ng-model="temp.theme_style" class="form-control">
          <option selected>light</option>
          <option>dark</option>
      </select>
    </div>
    <div class="form-group">
      <label>Offline mode: </label>
      <label class="radio-inline">
        <input name="offline-mode" type="radio" ng-model="temp.offline_mode" ng-value="0">
        Disabled
      </label>
      <label class="radio-inline">
        <input name="offline-mode" type="radio" ng-model="temp.offline_mode" ng-value="1">
        Enabled
      </label>
      <label class="radio-inline">
        <input name="offline-mode" type="radio" ng-model="temp.offline_mode" ng-value="2">
        Forced
      </label>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
  <input type="submit" name="submit" value="Save" class="btn btn-primary"></input>
</div>
</form>
